@import "tailwindcss";

body{
    margin:0;
    padding:0;
    background:#050816;
    overflow-x:hidden;
}
body {
  background: radial-gradient(circle at top, #13203f 0%, #050816 45%, #02030a 100%);
  color: white;
}